* {
  box-sizing: border-box;
}

html {
  background-image: url(../images/prootype.png);
  background-repeat: no-repeat;
  background-position: center;
}
body {
  background-image: linear-gradient(0deg, #adadad, #f05454);
  width: 379px;
  margin: 0 auto;
  border-radius: 50px 50px 50px 50px;
}

.header {
  max-width: 315px;
  margin: 0 auto;
  padding: 0;

  &__title {
    color: #dddddd;
  }

  &__toggler {
    height: 0;
  }
  &__list {
    display: none;
    // width: 100%;
    // height: 100%;
    // padding: 0;
    // position: relative;
    // top: -150px;
    // left: 0;
    // right: 0;
    // transition: all 0.4s ease-in-out;
  }
  &__button {
    cursor: pointer;
    z-index: 20;
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    & span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #dddddd;
      transition: all 0.3s ease-in-out;
    }
    &::before {
      position: absolute;
      content: "";
      top: 7px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #dddddd;
      transition: all 0.3s ease-in-out;
    }
    &::after {
      position: absolute;
      content: "";
      bottom: 7px;
      right: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #dddddd;
      transition: all 0.3s ease-in-out;
    }
  }

  &__button.js-menu-button::before {
    transform: rotate(45deg);
  }
  &__button.js-menu-button::after {
    transform: rotate(-45deg) translate(6px, -6px);
  }
  &__button.js-menu-button span {
    transform: scale(0);
  }

  // .js-menu-show {
  //   display: block;
  //   background-color: #adadad;
  //   width: 100%;
  //   height: 100%;
  //   width: 315px;
  //   visibility: visible;
  //   top: 0;
  //   transition: all 0.4s ease-in-out;
  // }
  .js-menu-show .header__button::after {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

.keyboard {
  font-family: "Roboto", sans-serif;
  width: 100%;
  &__list {
    max-width: 290px;
    max-height: 370px;
    grid: repeat(5, 1fr) / repeat(4, 1fr);
    justify-items: center;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
  &__screen {
    margin: 0 auto;
    width: 315px;
    height: 185px;
    box-shadow: 0px 3px 5px #00000069;
    padding: 0;
    border-radius: 5px;
  }
  &__input {
    background-color: #30475e;
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    &[placeholder] {
      color: #f05454;
      font-weight: bold;
      font-size: 24px;
      text-align: end;
      vertical-align: bottom;
    }
  }
  &__items {
    padding: 0;
  }

  &__button {
    background-color: #f05454;
    color: #dddddd;
    border: none;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 3px 5px #00000069;

    &:hover {
      background-color: #222831;
    }
    &:focus {
      background-color: #f05454;
      border-color: #f05454;
      box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
    }
  }

  &__button-number {
    background-color: #30475e;
    &:hover {
      background-color: #f05454;
    }
    &:focus {
      background-color: #222831;
      border-color: #222831;
      box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
    }
  }

  &__button-equal {
    background-color: #222831;
    &:hover {
      background-color: #dddddd;
      color: #222831;
    }
    &:focus {
      background-color: #222831;
      border-color: #222831;
      box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
      color: #dddddd;
    }
  }
  .btn-clear {
    margin-left: -3px;
  }
}

@media screen and (max-width: 430px) {
  html {
    background-image: none;
  }
}
