* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  background-color: #fff;
}
.head {
  min-height: 1455px;
  text-align: center;
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}
h1,
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.head-box {
  max-width: 1180px;
  margin: 0 auto;
}
.head-top {
  margin: 0 auto;
  padding-top: 190px;
  margin-bottom: 580px;
}
.btn-gtstrt {
  display: inline-block;
  background-color: #32c5c5;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.178);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.178);
  font-size: 20px;
  text-transform: lowercase;
  line-height: 1;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-gtstrt:hover {
  background-color: #0bb3b3;
}
.head-title {
  margin: 0 0 40px;
  font-size: 60px;
  color: #6b0e7e;
  line-height: 0.8;
}
.head-text {
  font-size: 20px;
  color: #713a84;
  line-height: 1.5;
}
.head-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}
.head-title-bot {
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 30px;
  color: #fff;
}
.btn-link {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}
.head-txt-bot {
  margin-bottom: 30px;
  font-size: 20px;
  color: #c597d3;
  line-height: 1.5;
}
.product {
  background-image: -o-linear-gradient(315deg, #9042ab, #2b093d);
  background-image: linear-gradient(135deg, #9042ab, #2b093d);
  min-height: 1030px;
  padding-bottom: 92px;
  padding-top: 115px;
  border-top: 1px solid #360e47;
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center center;
}
.head-product {
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
}
.product-img {
  width: 760px;
  margin: 0;
}
.img {
  max-width: 100%;
}
.product-head-title {
  position: absolute;
  text-align: right;
  width: 460px;
  right: 0;
  top: -40px;
}
.fig {
  margin-top: 40px;
}
.figctpn {
  position: absolute;
  right: 0;
  color: #9042ab;
  font-family: Arial, sans-serif;
  font-size: 12px;
}
.product-title {
  font-size: 30px;
  color: #fff;
  line-height: 1.5;
  margin: 0;
}
.product-head-p {
  font-size: 20px;
  font-family: Lato, sans-serif;
  color: #9042ab;
  margin-bottom: 40px;
  line-height: 1.6;
}
.features {
  padding-top: 150px;
  padding-bottom: 130px;
  border-top: 1px solid #360e47;
  border-bottom: 1px solid #360e47;
}
.general-feature {
  max-width: 1180px;
  margin: 0 auto;
}
.main-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.block-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 540px;
}
.block-one-one {
  margin-bottom: 80px;
  height: 190px;
}
.head-one-one {
  color: #521a66;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.text-one-one {
  font-size: 16px;
  font-family: "Myriad Pro", sans-serif;
  color: #7a8387;
  line-height: 1.875;
  text-align: left;
}
.btn-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: baseline;
  align-self: baseline;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: left;
  background-color: #32c5c5;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.178);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.178);
  font-size: 20px;
  text-transform: lowercase;
  line-height: 1;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-head:hover {
  background-color: #0bb3b3;
}
.exp {
  background-image: url("/images/Layer\ 12.png");
  background-color: #521a66;
  background-blend-mode: overlay;
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.exp-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1180px;
  margin: 0 auto;
  height: 455px;
}
.head-exp {
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  margin-top: 120px;
}
.text-exp {
  font-size: 20px;
  font-family: Lato, sans-serif;
  color: #a87bb7;
  line-height: 1.65;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}
.advantages {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}
.advantages-main {
  margin: 0 210px 128px 210px;
}
.advantages-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.advantages-li {
  width: 220px;
  text-align: center;
  margin-right: 20px;
  padding-top: 135px;
}
.advantages-head {
  margin: 0 0 25px;
  position: relative;
  font-size: 15px;
  font-family: Lato;
  color: #662e79;
  font-weight: 700;
  text-transform: uppercase;
}
.advantages-text {
  font-size: 16px;
  font-family: Lato;
  color: #7a8387;
  line-height: 1.875;
  padding: 0;
  margin: 0;
}
.advantages-head::before {
  content: "";
  position: absolute;
  left: 40%;
  bottom: 50px;
  width: 40px;
  height: 40px;
  background-image: url(/images/icons/Timer.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.advantages-head.one-icon::before {
  background-image: url(/images/icons/Dashboard.svg);
}
.advantages-head.two-icon::before {
  background-image: url(/images/icons/Stats.svg);
}
.advantages-head.three-icon::before {
  background-image: url(/images/icons/Menu.svg);
}
.footer {
  max-width: 1600px;
  margin: 0 auto;
}
.footer-top {
  background-color: #303d4c;
}
.footer-ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
}
.footer-li {
  padding: 25px 20px;
}
.icon-anima {
  display: block;
  text-decoration: none;
  color: #25303e;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.footer-bottom {
  max-width: 1600px;
  background-color: #25303e;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer-title {
  margin: 0 auto;
  width: 1180px;
  padding: 50px 0 70px 0;
  font-size: 14px;
  font-family: Lato;
  color: #83969f;
  text-align: right;
}
.footer-title span.copyright {
  padding-right: 328px;
  font-size: 15px;
  font-family: Lato;
  color: #83969f;
  font-weight: 700;
  text-transform: uppercase;
}
.icon-text {
  font-size: 0;
}
.icon-anima:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  color: #fff;
}
